@import url("https://use.fontawesome.com/releases/v5.7.2/css/all.css");
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #161615;
  color: #dfdfe2
}

.centerize-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.centerize-abs {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.centerize-fix {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.centerize-grid {
  height: 100vh;
  display: grid;
  place-items: center;
}

.btn-perfect {
  padding: 18px 32px;
  font-size: 16px;
}


.brsharp {
  border-radius: 2px;
  /* //serious and cleen */
}

.brtech {
  border-radius: 4px;
  /*  bavk accountinf serious but friendly feel  */
}

.brtechfr {
  border-radius: 5px;
  /*  bavk accountinf serious but friendly feel  */
}

.brapplesafe {
  border-radius: 6px;
  /*  bavk accountinf serious but friendly feel  */
}

.brcircle {
  border-radius: 50%;

}

.brjuicesafe {
  border-radius: 8px;
  /*  bavk accountinf serious but friendly feel  */
}

.brkidsgame {
  border-radius: 12px;
  /*  bavk accountinf serious but friendly feel  */
}

.neu {
  background: #deeaf6;
  box-shadow: -10px -10px 20px #f3f9ff, 10px 10px 20px #becbd8;

}

.neu-dark {
  background: #1a1b1e;
  box-shadow: -10px -10px 20px #242529, 10px 10px 20px #151518, 1px 1px 0px #ffffff55;

}

.glass {
  backdrop-filter: blur(2px);
  opacity: .6;
  border-radius: 60px;
}

.glass .bg-light {
  background: #fff;

}

.glass .bg-dark {
  background: #f000;
}

.disabled-select {
  user-select: none;
  resize: none;
}

.disablelink {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: black;
}

.smooth-reveal {
  animation: content_reveal .8s ease;
  /* https://www.instagram.com/p/CCqyrDiAl_z/ */
  /* on body .html */
}

@keyframes content_reveal {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


.bg-lg {
  background: linear-gradient(90deg, #7f7f7f, #a5cad2);
}

.bg-lg2 {
  background: linear-gradient(90deg, #e5a15a, #cb715d);
}

.bg-cg {
  background: conic-gradient(from 0deg, #c8078c 0%, #782dec 25%, #4eadf4 50%, #9af7f2 75%, #161615 75%);
}

:root {
  --cp23c1: #128cba;
  --cp23c2: #71ceed;
  --cp23c3: #f89b07;
  --cp23c4: #f9dda3;

  --cp24c1: #149388;
  --cp24c2: #1fc39e;
  --cp24c3: #a5e39d;
  --cp24c4: #ffe9c0;

--cp25c1: #1c2429;
--cp25c2: #A1D1B1;
--cp26c1: #D8c9ae;
--cp26c2: #575757;
--cp27c1: #352323;
--cp27c2: #c47623;
--cp28c1: #990302;
--cp28c2: #EbE2E0;
--cp29c1: #CA763A;
--cp29c2: #134B42;
  
--cp30c1:#00412e;
--cp30c2:#96bf8a;
--cp30c3:#ebeae5;
--cp30c4:#ffffff;

--cp31c1:#00ff8b;
--cp31c2:#00001c;
--cp31c3:#6765ec;
--cp31c4:#f7f7ff;

--cp32c1:#000223;
--cp32c2:#ffa000;
--cp32c3:#7c521b;
--cp32c4:#fffafe;

--cp33c1:#e7e6c4;
--cp33c2:#ff3500;
--cp33c3:#3f3826;
--cp33c4:#000000;

--cp34c1:#522f2c;
--cp34c2:#fff0f8;
--cp34c3:#665254;
--cp34c4:#fbcab6;

--cp35c1:#fcfaee;
--cp35c2:#035a52;
--cp35c3:#d8e267;
--cp35c4:#bdF806;

--cp36c1:#010313;
--cp36c2:#fcebe5;
--cp36c3:#ff001e;
--cp36c4:#1e3c65;


  --ailove1: #ffc57a;
  --ailove2: #fe771b;
  --ailove3: #b78957;
  --ailove4: #e1312d;
  --ailove5: #302016;

  --happycoffee1: #e2cf9b;
  --happycoffee2: #f77969;
  --happycoffee3: #fa1c24;
  --happycoffee4: #6f1b33;
  --happycoffee5: #361e3b;

  --questionmonkey1: #e7d39f;
  --questionmonkey2: #fb7b6b;
  --questionmonkey3: #14435e;
  --questionmonkey4: #46443e;

  --tiredAC1: #fce8d5;
  --tiredAC2: #f9d0af;
  --tiredAC3: #0a97b0;
  --tiredAC4: #100fbf;

  --foxy1: #d2c6d3;
  --foxy2: #ed502f;
  --foxy3: #b90034;
  --foxy4: #1a1a1a;

  --theamazingspiderman1: #c02330;
  --theamazingspiderman2: #1d63b4;
  --theamazingspiderman3: #e5e3ff;
  --theamazingspiderman4: #7c5568;
  --theamazingspiderman5: #bbcae9;

  --strangeadventures1: #f9dc44;
  --strangeadventures2: #d14235;
  --strangeadventures3: #6594b0;
  --strangeadventures4: #c15d99;
  --strangeadventures5: #9ecabf;

  --starwarsbountyhunters1: #53a677;
  --starwarsbountyhunters2: #fdba3e;
  --starwarsbountyhunters3: #eb5326;
  --starwarsbountyhunters4: #0164a9;
  --starwarsbountyhunters5: #cba8b0;

  --stealth1: #7d4198;
  --stealth2: #4cabcf;
  --stealth3: #f5b75a;
  --stealth4: #6f678e;
  --stealth5: #81335f;

  --flash1: #c95e57;
  --flash2: #00b8f2;
  --flash3: #7dc9d6;
  --flash4: #fae687;
  --flash5: #c6e0c2;

  --deathmetal1: #f8bd3a;
  --deathmetal2: #961d21;
  --deathmetal3: #28598a;
  --deathmetal4: #a8ab9c;
  --deathmetal5: #6d503e;

  --ofsp_ce1: #fb6c6d;
  --ofsp_ce2: #1e86ff;
  --ofsp_ce3: #f59a55;
  --ofsp_ce4: #ffffff;

  --ofsp_ce5: #3959a2;
  --ofsp_ce6: #a8dbd2;
  --ofsp_ce7: #16181e;
  --ofsp_ce8: #ffffff;

  --monoblue1: #3acbe8;
  --monoblue2: #0d85d8;
  --monoblue3: #0160c9;
  --monoblue4: #0041c7;

  --monoorange1: #ffbf00;
  --monoorange2: #ffa000;
  --monoorange3: #ff8c00;
  --monoorange4: #ff6600;

  --monogreen1: #4cbb17;
  --monogreen2: #46cb18;
  --monogreen3: #138808;
  --monogreen4: #006400;

  --monopurple1: #fff6f6;
  --monopurple2: #eea1eb;
  --monopurple3: #cb22d7;
  --monopurple4: #891180;

  /* awsmcolor */
  --stromblue: #182f53;
  --alpacawool: #f9eee2;
  --corolrose: #f57a4d;
  --brownishred: #9c3725;

  --awsm287a: #30bcc9;
  --awsm287b: #faf3e3;
  --awsm287c: #fada80;
  --awsm287d: #f6404f;

  --awsm337a: #13a699;
  --awsm337b: #ffd708;
  --awsm337c: #fff7ed;
  --awsm337d: #aaf0d1;

  --awsm365a: #f1e1c9;
  --awsm365b: #faf8f0;
  --awsm365c: #cfecf5;
  --awsm365d: #a9e2f5;

  --awsm353a: #f340af;
  --awsm353b: #fbdb14;
  --awsm353c: #fffceb;
  --awsm353d: #01f9c6;

  --awsm326a: #f49fb6;
  --awsm326b: #f4d2d2;
  --awsm326c: #faf8f0;
  --awsm326d: #a6e0de;
  
        --color1-a:#31393c;
        --color2-a:#2176ff;
        --color3-a:#33a1fd;
        --color4-a:#fdca40;
        --color5-a:#f79824;

        --color1-b:#03045e;
        --color2-b:#0077b6;
        --color3-b:#00b4d8;
        --color4-b:#90e0ef;
        --color5-b:#caf0f8;
        
        --color1-e:#081f5c;
        --color2-e:#334eac;
        --color3-e:#7096d1;
        --color4-e:#d0e3ff;
        --color5-e:#e7f1ff;

        --color1-c:#cdb4db;
        --color2-c:#ffc8dd;
        --color3-c:#ffafcc;
        --color4-c:#bde0fe;
        --color5-c:#a2d2ff;
        
        --color1-d:#9c89b8;
        --color2-d:#f0a6ca;
        --color3-d:#e7bcde; 
        --color4-d:#f0e6ef;
        --color5-d:#b8bedd;
        --color6-d:#f2f4ee;

        --color1-f:#2c98a0;
        --color2-f:#38b2a3;
        --color3-f:#4ccba3;
        --color4-f:#67dba5;
        --color5-f:#89e8ac;
        --color6-f:#b0f2bc;

        --color1-g:#7a0177;
        --color2-g:#c51b8a;
        --color3-g:#f768a1;
        --color4-g:#fa9fb5;
        --color5-g:#fcc5c0;
        --color6-g:#feebe2;

}

.rx35 {
  transform-style: bottom;
  transform: rotateX(45deg);
}
